@font-face {
    font-family: HT;
    src: url(../fonts/HTBaybarsDisplay-Regular.otf);
}

body {
    direction: rtl;
    font-family: HT;
    color: #33312A;
}


/************
Navbar
*************/
nav.navbar {
    background-color: #33312A;

}

nav.navbar .navbar-brand img {
    filter: brightness(0) invert(1);
}

nav.navbar .nav-link {
    color: white;
    margin-left: 15px;
    font-weight: 600;
    transition: 0.3s ease all;
}

nav.navbar .nav-link.active, nav.navbar .nav-link:hover {
    color: #DB9A36 !important;
}

.RegisterButton button {
    border: 1px solid #DB9A36;

    background-color: #33312A;
    color: #DB9A36;
    font-weight: bold;
    transition: 0.3s ease all;

}

.RegisterButton button:hover {
    background-color: #DB9A36;
    color: #33312A;
}
.SectionTitle{
    font-size: 45px;
    font-weight: bolder;
    color: #33312A;
    text-align: center;
}
/************
End Navbar
*************/

/************
Carousel Part
*************/
header.header {
    background-image: url(../images/Headerbg.png);
    background-size: contain;
    background-position: center center;
}
header.header .carousel .carousel-control-prev, header.header .carousel .carousel-control-next {
    background-color: #33312A;
    color: #DB9A36;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    top: 7%;
    opacity: 1;
    filter: drop-shadow(2px 3px 5px rgba(255, 255, 255, 0.219));
}

header.header .carousel .carousel-control-next {
    right: 100px;
}

header.header .carousel .carousel-control-prev {

    right: 40px;
}

header.header .FormLine {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    padding: 30px 20px;
}

header.header .FormLine svg {
    color: #DB9A36;
    font-size: 20px;
    margin-left: 20px;
}

header.header .FormLine .smallText {
    font-size: 14px;
    margin-bottom: 10px;
}

header.header .FormLine input, header.header .FormLine select {
    border: none;
    padding: 0px auto !important;
    font-size: 18px;
    font-weight: bolder;
    line-height: normal;
    outline: none;
    box-shadow: none;
}

header.header .FormLine input {
    width: 75%;

}

header.header .FormLine input::placeholder {
    color: #33312A;
}

header.header .nav-tabs .nav-link {
    color: #DB9A36;
    font-size: 22px;
    font-weight: bolder;
    background-color: white;
    opacity: 0.8;
    border: none;
    padding: 15px 30px;
    border-radius: 0px;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

header.header .nav-tabs .nav-link.active {
    opacity: 1;
}


.searchLine {
    bottom: -3%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.281));
}
.searchLineBtn{
    position: absolute;
    background-color: #DB9A36;
    border: black;
    bottom: 20px;
    left: 20px;
    font-weight: bolder;
    z-index: 10000;
    padding: 7px 40px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 25px;
}
.IndexHeader .searchLine{
    display: none;
}
.searchLineBtn img{
    mix-blend-mode:darken;
    width: 30px;
    margin-right: 10px;
}
.searchLineBtn
.BorderLeft {
    width: 1px;
    height: 50%;
    border: 1px solid rgba(0, 0, 0, 0.452);
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    border-radius: 10px;
}
.exitBtn{
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    background-color: transparent;
    font-size: 20px;
}
.FormBtn {
    border: 1px solid #DB9A36;
    background-color: #DB9A36;
    color: white;
    font-weight: bolder;
    font-size: 22px;
    font-weight: bolder;
    width: 100%;
    transition: 0.3s ease all;
}

.FormBtn:hover{
    filter: brightness(85%);
}

/************
End Carousel Part
*************/

/************
Card Part
*************/
section.CardPart .card{
    border: none;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.151));
    border-radius:10px ;
    overflow: hidden;
}
section.CardPart .card .carousel button{
    opacity: 1;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.151));
    
}
section.CardPart .card .card-title{
    font-size: 23px;
    font-weight: bolder;
    color: #33312A ;

}
section.CardPart .card svg{
    color: #DB9A36;
    font-size: 20px;
}

section.CardPart .card .card-text{
    font-size: 18px;
    font-weight: 600;
}
section.CardPart .card .card-text span{
    border: 1px solid #33312A;
    background-color: #33312A;
    padding: 3px 15px;
    color: white;
    border-radius: 20px;
}
section.CardPart .card .price{
    font-size: 20px;
    font-weight: bolder;

}
a{
    text-decoration: none;
}
section.CardPart .card .ShowMoreBtn{
    background-color: #DB9A36;
    color: #33312A !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-weight: bold;
    transition: 0.3s ease all;
}
section.CardPart .card .ShowMoreBtn svg{
    color: #33312A;
    transition: 0.3s ease all;

}
section.CardPart .card .ShowMoreBtn:hover{
    filter: brightness(85%);
}
section.CardPart .card .ShowMoreBtn:hover svg{
    transform: translateX(-20px);
}
 .AllDesignBtn{
    background-color: #33312A;
    border: 3px solid #DB9A36; 
    border-radius: 15px;
    color: white;
    width: 200px !important;
    margin-top: 40px;
    font-size: 25px;
    font-weight: bolder;
    padding: 10px 20px;
}
.page-item.active .page-link,.page-item:hover .page-link{
    background-color: #DB9A36;
    border-color: #33312A ;
    color: white;
    
}

.page-link{
    color: #33312A;
    border: 1px solid #33312A;
    font-weight: bolder;
    font-size: 20px;
}
/************
End Card Part
*************/


/************
Services
*************/
section.Services  .card {
    background-color: white;
    filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.158));
    border-radius: 20px;
}
section.Services  .card .ServiceTitle {
    font-weight: bolder;
    font-size: 25px;
    color: #33312A;
    margin-top: 15px;
}

.ContactIcon{
    font-size: 200px;
    color: #DB9A36;
}

/************
End Services
*************/

/************
Contact Us
*************/
.ContactUsform .ContactIcon{
    font-size: 200px;
    color: #DB9A36;
}
.ContactUsform input,.ContactUsform textarea, .ContactUsform select{
    border-radius: 5px;
    border: 1px solid #33312A !important; 
    direction: rtl;
    color: #33312A;
    box-shadow: none !important;
}
.ContactUsform  input::placeholder , .ContactUsform textarea::placeholder{
    color: #33312A;
}
.ContactUsform  label{
    color: #DB9A36;
    font-weight: bolder;
    font-size: 20px;
}
/************
End Contact Us
*************/


/************
footer
*************/
footer.footer {
    background-color: #33312A;
    color: white;
}
footer.footer .FooterLogo{
    filter: brightness(0) invert(1);
    width: 50%;
}
footer.footer .footerTitle{
    font-size: 25px;
    font-weight: bolder;
}
footer.footer .yellowLine{
    width: 50%;
    height: 2px;
    background-color: #DB9A36;
    display: block;
    margin-bottom: 20px;
}
footer.footer .FooterLinks{
    display: flex;
    flex-direction: column;
}
footer.footer .FooterLinks a{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}
footer.footer .socialMedia{
    display: flex;
    justify-content: start;
    align-items: center;
}
footer.footer .socialMedia a {
    background-color: #33312A;
    border: 2px solid #DB9A36;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    transition: 0.3s ease all;
}
footer.footer .socialMedia a:hover{
    transform: scale(1.1);
}
footer.footer   .email{
    color: white;
    margin-top: 20px;
    font-size: 20px;
}

footer.footer .Copyright{
    font-size: 20px;
    margin-top: 20px;
    border-top: 1px solid white;
}
/************
End footer
*************/


/************************************************
*************************************************
************************Design Page**************
*************************************************/
header.DesignPageHeader .carousel-inner{

    height: 80vh;
}
header.DesignPageHeader .carousel .carousel-control-prev, header.DesignPageHeader .carousel .carousel-control-next{
    top: 50%;
    background-color: #33312A;
    color: #DB9A36;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    opacity: 1;
    filter: drop-shadow(2px 3px 5px rgba(255, 255, 255, 0.219));
    font-size: 20px;

}
header.DesignPageHeader .carousel .carousel-control-prev{
    right: 5%;
}
header.DesignPageHeader .carousel .carousel-control-next{
 left: 5%;
}
 .MidText{
    font-size: 35px;
    font-weight: bolder;
}
section.DesignDetails .Details{
    border: 2px solid #33312A;
    padding: 7px 15px;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.11));
}
section.DesignDetails .Details span{
    background-color: #DB9A36;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 20px;
    display: block;
    font-weight: bolder;
    width: 50%;
    text-align: center;
}
section.DesignDetails  button{
    color: #33312A;
    border-radius: 10px;
}



/************************************************
*************************************************
************************About Us Page**************
*************************************************/

header.AboutUsHeader .searchLine{
    transform: unset;
    width: 100%;
}