body{
    direction: rtl;
}


/************
Navbar
*************/
nav.navbar  {
    background-color: black;
}
nav.navbar .navbar-brand img{
    filter: brightness(0) invert(1);
}
nav.navbar .nav-link{
    color :white;
    margin-left: 15px;
    font-weight: 600;
}
nav.navbar .nav-link.active{
    color: #FED501 !important;
}
.RegisterButton button{
    border: 1px solid #FED501;

    background-color: black;
    color: #FED501;
    font-weight: bold;
    transition: 0.3s ease all;
    
}
.RegisterButton button:hover{
    background-color:#FED501;
    color: black;
}
/************
End Navbar
*************/